<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - Mental Harbour </title>
    <link rel="stylesheet" href="fkk.css">
    <br>
    <a style="margin-left: 20px;"></a><a href=””><img src="a.png" height = 15% width = 15% alt="Image 1"></a>
    
</head>
<body>
    <section>
        <div class="main">
            <br>
            <h1><center>Registration</center></h1>
            <div class="accounts">
                <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ifkv=AVQVeyxzzMBkjbYWBLGTA9MPrQF-p97WltxITPfq_zL7tJfutI1GoVxmh4tnLOJ53j6TFkHtT4KVKg&rip=1&sacu=1&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-670276099%3A1699986479667849&theme=glif"><button class="a" id="g"><img src="g.png"><span>Continue with Google</span></button></a>
                <a href="https://www.facebook.com/?locale=ar_AR"><button class="a" id="f"><img src="f.png"><span>Continue with Facebook</span></button></a>
            </div>

            <hr>
            <div class="log-in">
                <form action="http://localhost/shit/view/post.php" method="post">

                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="person"></ion-icon>
                        </span>
                        <input id="username" type="text" name="name" required>
                        <label>Username</label>
                    </div>

                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail"></ion-icon>
                        </span>
                        <input id="email" type="text" name="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed"></ion-icon>
                        </span>
                        <input id="password" type="password" name="pass" required>
                        <label>Password</label>
                    </div>
                    

                    <div class="switch">
                        <input type="checkbox" id="switch" checked>
                        <label for="switch"></label>
                        <span>Agree to terms & conditions</span>
                    </div>

                    <button onclick="return verif_register()">Register</button>


                    <a href="#">Forgot your password?</a>
                </form>
            </div>

            <hr>

            <div class="last">
                <span>Already have an account?</span>
                
                <a href="http://localhost/shit/view/login.php" class="login-link">Sign in to Mental Harbour</a>
            </div>
        </div>
    </section>
    <script src="../controller/register.js"></script>
</body>
<footer>
    <section>
        <div class="footer">
            <p>                            </p>
            <a><center>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</center></a>
            <br>
        </div>
    </section>
</footer>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</html>