



<!DOCTYPE html>
<html>


   


     <link rel="stylesheet" href="index-1.css">


<header>
    <a href="#"><img src="a.png" alt="" height="60%" width="60%"></a>
    <nav class="navigation">
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">services</a>
        <a href="#">contact</a>
        <a href="http://localhost/proj/view/index.php">forum</a>
        <button class="payment">log in</button>
        
    </nav>
</header>

<body>
  
    <div class="all">
    
        <div class="card">
    
            <div class="content">
    
              <p class="heading">  <a href="#"><img src="a.png" alt="" height="60%" width="60%"></a> </p>
    
              <p class="para">
                <b>Bienvenue sur notre forum ! Partagez vos idées, posez des questions et engagez-vous dans des conversations passionnantes avec notre communauté. Votre voix compte ici. Ensemble, construisons un espace où chacun peut s'exprimer et apprendre les uns des autres. Profitez de votre séjour et enrichissez notre forum avec votre contribution unique</b>
              </p>
              
              <button class="btn">   <a href="index1.html"> ➔ </a> </button>
    
            </div>
    
          </div>
    
    
        </div>



</html>