
@font-face {
    font-family: slm;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: slms;
    src: url(ChiaroscuraTRIAL-Rg.otf);
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:slm, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('x.png');
    background-size:cover;
    background-position: center;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.navigation a
{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration:none ;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .payment
{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius:6px ;
    cursor: pointer; 
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;


}
.navigation .payment:hover
{
    background: white;
    color: #162938;
}
.navigation .payment:active
{
    transform: scale(0.96);

}







.all{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 10px;
   
  }
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content .para {
    line-height: 2;
    font-size: 15px;
    color: #212121;
  }
  
  .content .btn {
    color: #fefafa;
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #5a5959 0%, #aca5a9 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, rgb(231, 203, 210) 0%, #3687a7 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover::before {
    height: 100%;
  }
  
  .card:hover {
    box-shadow: none;
  }
  
  .card:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  
  





  
  
  
  
  
  
  
  