<!DOCTYPE html>
<html>

<head>

    <title> forurm</title>

    <link rel="stylesheet" href="index.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<body>

<br><br><br><br>
    


    <div class="all1">
    <div class="cont">
        <div> <b> <a href="index-1.html"> ⮜ </a>  </b></div>
    <div class="log">

        <img id="logo"
            src=" https://cdn-icons-png.flaticon.com/512/4305/4305692.png  "
            alt=" logo">
        <input type="search" placeholder=" QUE VOULEZ-VOUS DIRE ?" onfocus="window.location.href='index2.html' ">

    </div>
    <div>
        <table>
            <tr>
                <td>
                    
                         <ion-icon id="logoimg" name="image-outline"  ></ion-icon> 
                   
                </td>
                <td>
                    
                    <ion-icon id="logoimg" name="camera-reverse-outline" ></ion-icon>
                   
                </td>
                <td>
                    <ion-icon  id="logoimg"  name="happy-outline"  ></ion-icon>
                      
                </td>
            </tr>

        </table>
    </div>
    
</div>
</div>








</body>