<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="all.min.css" />
    <link rel="stylesheet" href="framework.css" />
    <link rel="stylesheet" href="cal.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="cal.js"></script>
    <link rel="stylesheet" href="master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="page d-flex">
      <div class="sidebar bg-white p-20 p-relative">
        <h3 class="p-relative txt-c mt-0">Mental Harbour</h3>
        <ul>
          <li>
            <a class="active d-flex align-center fs-14 c-black rad-6 p-10" href="admin.html">
              <i class="fa-regular fa-chart-bar fa-fw"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="profile.php">
              <i class="fa-regular fa-user fa-fw"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="#">
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span>Tests</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="ShowUser.php">
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span>Users</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="affichefact.php">
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span>Payement</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="listeservice.php">
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span>Services</span>
            </a>
          </li>
          <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="indexforum.php">
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span>Forum</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="content w-full">
        <!-- Start Head -->
        <div class="head bg-white p-15 between-flex">
          <div class="search p-relative">
            <input class="p-10" type="search" placeholder="Type A Keyword" />
          </div>
          <div class="icons d-flex align-center">
            <span class="notification p-relative">
              <i class="fa-regular fa-bell fa-lg"></i>
            </span>
            <img src="imgs/avatar.png" alt="" />
          </div>
        </div>
        <!-- End Head -->
        <h1 class="p-relative">Dashboard</h1>
        <div class="wrapper d-grid gap-20">
          <!-- Start Welcome Widget -->
          <div class="welcome bg-white rad-10 txt-c-mobile block-mobile">
            <div class="intro p-20 d-flex space-between bg-eee">
              <div>
                <h2 class="m-0">Welcome</h2>
                <p class="c-grey mt-5">sora</p>
              </div>
              <img class="hide-mobile" src="imgs/welcome.png" alt="" />
            </div>
            <img src="imgs/avatar.png" alt="" class="avatar" />
            <div class="body txt-c d-flex p-20 mt-20 mb-20 block-mobile">
              <div>sora explora <span class="d-block c-grey fs-14 mt-10">Admin</span></div>
              <div>0 <span class="d-block c-grey fs-14 mt-10">Plans</span></div>
              <div>$0 <span class="d-block c-grey fs-14 mt-10">Earned</span></div>
            </div>
            <a href="#" class="visit d-block fs-14 bg-blue c-white w-fit btn-shape">Profile</a>
          </div>
          <!-- End Welcome Widget -->
          <!-- Start Quick Draft Widget -->
          <div class="quick-draft p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">Quick Draft</h2>
            <p class="mt-0 mb-20 c-grey fs-15">Text book to vent off</p>
            <form>
              <input class="d-block mb-20 w-full p-10 b-none bg-eee rad-6" type="text" placeholder="Title" />
              <textarea class="d-block mb-20 w-full p-10 b-none bg-eee rad-6" placeholder="Your Thought"></textarea>
              <input class="save d-block fs-14 bg-blue c-white b-none w-fit btn-shape" type="submit" value="Save" />
            </form>
          </div>
          <!-- End Quick Draft Widget -->
          <!-- Start Targets Widget -->
          <div class="targets p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">Yearly Targets</h2>
            <p class="mt-0 mb-20 c-grey fs-15">Targets Of The Year</p>
            <div class="target-row mb-20 blue center-flex">
              <div class="icon center-flex">
                <i class="fa-solid fa-dollar-sign fa-lg c-blue"></i>
              </div>
              <div class="details">
                <span class="fs-14 c-grey">Money</span>
                <span class="d-block mt-5 mb-10 fw-bold">$100</span>
                <div class="progress p-relative">
                  <span class="bg-blue blue" style="width: 20%">
                    <span class="bg-blue">20%</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="target-row mb-20 center-flex orange">
              <div class="icon center-flex">
                <i class="fa-solid fa-code fa-lg c-orange"></i>
              </div>
              <div class="details">
                <span class="fs-14 c-grey">Plans</span>
                <span class="d-block mt-5 mb-10 fw-bold">24</span>
                <div class="progress p-relative">
                  <span class="bg-orange orange" style="width: 55%">
                    <span class="bg-orange">55%</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="target-row mb-20 center-flex green">
              <div class="icon center-flex">
                <i class="fa-solid fa-user fa-lg c-green"></i>
              </div>
              <div class="details">
                <span class="fs-14 c-grey">Users</span>
                <span class="d-block mt-5 mb-10 fw-bold">12</span>
                <div class="progress p-relative">
                  <span class="bg-green green" style="width: 75%">
                    <span class="bg-green">75%</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Targets Widget -->
          <!-- Start Ticket Widget -->
          <div class="tickets p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">Tickets Statistics</h2>
            <p class="mt-0 mb-20 c-grey fs-15">Everything About Support Tickets</p>
            <div class="d-flex txt-c gap-20 f-wrap">
              <div class="box p-20 rad-10 fs-13 c-grey">
                <i class="fa-regular fa-rectangle-list fa-2x mb-10 c-orange"></i>
                <span class="d-block c-black fw-bold fs-25 mb-5">2500</span>
                Total
              </div>
              <div class="box p-20 rad-10 fs-13 c-grey">
                <i class="fa-solid fa-spinner fa-2x mb-10 c-blue"></i>
                <span class="d-block c-black fw-bold fs-25 mb-5">500</span>
                Pending
              </div>
              <div class="box p-20 rad-10 fs-13 c-grey">
                <i class="fa-regular fa-circle-check fa-2x mb-10 c-green"></i>
                <span class="d-block c-black fw-bold fs-25 mb-5">1900</span>
                Closed
              </div>
              <div class="box p-20 rad-10 fs-13 c-grey">
                <i class="fa-regular fa-rectangle-xmark fa-2x mb-10 c-red"></i>
                <span class="d-block c-black fw-bold fs-25 mb-5">100</span>
                Deleted
              </div>
            </div>
          </div>
          <!-- End Ticket Widget -->
          <!-- Start Latest News Widget -->
          <div class="latest-news p-20 bg-white rad-10 txt-c-mobile">
            <h2 class="mt-0 mb-20">Latest News</h2>
            <div class="news-row d-flex align-center">
              <img src="imgs/news-01.png" alt="" />
              <div class="info">
                <h3>Created profile</h3>
                <p class="m-0 fs-14 c-grey">New profile page</p>
              </div>
              <div class="btn-shape bg-eee fs-13 label">3 Days Ago</div>
            </div>
            <div class="news-row d-flex align-center">
              <img src="imgs/news-02.png" alt="" />
              <div class="info">
                <h3>Changed The Design</h3>
                <p class="m-0 fs-14 c-grey">A Brand New Website Design</p>
              </div>
              <div class="btn-shape bg-eee fs-13 label">5 Days Ago</div>
            </div>
            <div class="news-row d-flex align-center">
              <img src="imgs/news-03.png" alt="" />
              <div class="info">
                <h3>Team Integration</h3>
                <p class="m-0 fs-14 c-grey">Integration with the team</p>
              </div>
              <div class="btn-shape bg-eee fs-13 label">7 Days Ago</div>
            </div>
            <div class="news-row d-flex align-center">
              <img src="imgs/news-04.png" alt="" />
              <div class="info">
                <h3>Added Payment Methods</h3>
                <p class="m-0 fs-14 c-grey">Many New Payment Methods Added</p>
              </div>
              <div class="btn-shape bg-eee fs-13 label">9 Days Ago</div>
            </div>
          </div>
          <!-- End Latest News Widget -->
          <!-- Start Tasks Widget -->

            
    <div class="container">
        <div class="calendar">
          <div class="front">
            <div class="current-date">
              <h1>Monday 11th</h1>
              <h1>December 2024</h1> 
            </div>
  
            <div class="current-month">
              <ul class="week-days">
                <li>MON</li>
                <li>TUE</li>
                <li>WED</li>
                <li>THU</li>
                <li>FRI</li>
                <li>SAT</li>
                <li>SUN</li>
              </ul>
  
              <div class="weeks">
                <div class="first">
                  <span class="last-month">28</span>
                  <span class="last-month">29</span>
                  <span class="last-month">30</span>
                  <span class="last-month">31</span>
                  <span>01</span>
                  <span>02</span>
                  <span>03</span>
                </div>
  
                <div class="second">
                  <span>04</span>
                  <span>05</span>
                  <span class="event">06</span>
                  <span>07</span>
                  <span>08</span>
                  <span>09</span>
                  <span>10</span>
                </div>
  
                <div class="third">
                  <span>11</span>
                  <span>12</span>
                  <span>13</span>
                  <span>14</span>
                  <span class="active">15</span>
                  <span>16</span>
                  <span>17</span>
                </div>
  
                <div class="fourth">
                  <span>18</span>
                  <span>19</span>
                  <span>20</span>
                  <span>21</span>
                  <span>22</span>
                  <span>23</span>
                  <span>24</span>
                </div>
  
                <div class="fifth">
                  <span>25</span>
                  <span>26</span>
                  <span>27</span>
                  <span>28</span>
                  <span>29</span>
                  <span>30</span>
                  <span>31</span>
                </div>
              </div>
            </div>
  
          <div class="back">
            <input placeholder="What's the event?">
            <div class="info">
              <div class="date">
                <p class="info-date">
                Date: <span>Jan 15th, 2016</span>
                </p>
                <p class="info-time">
                  Time: <span>6:35 PM</span>
                </p>
              </div>
              <div class="address">
                <p>
                  Address: <span>129 W 81st St, New York, NY</span>
                </p>
              </div>
              <div class="observations">
                <p>
                  Observations: <span>Be there 15 minutes earlier</span>
                </p>
              </div>
            </div>
  
            <div class="actions">
              <button class="save">
                Save <i class="ion-checkmark"></i>
              </button>
              <button class="dismiss">
                Dismiss <i class="ion-android-close"></i>
              </button>
            </div>
          </div>
  
        </div>
      </div>
          </div>
          <!-- End Tasks -->
          <!-- Start Last Project Progress Widget -->
          <div class="last-project p-20 bg-white rad-10 p-relative">
            <h2 class="mt-0 mb-20">Last Plan Progress</h2>
            <ul class="m-0 p-relative">
              <li class="mt-25 d-flex align-center done">Got The Plan</li>
              <li class="mt-25 d-flex align-center done">Started The Plan</li>
              <li class="mt-25 d-flex align-center done">The Plan About To Finish</li>
              <li class="mt-25 d-flex align-center current">Test The Plan</li>
              <li class="mt-25 d-flex align-center">Finish The Plan & Get Money</li>
            </ul>
            <img class="launch-icon hide-mobile" src="imgs/project.png" alt="" />
          </div>
          <!-- End Last Project Progress Widget -->
          <!-- Start Reminders Widget -->
          <div class="reminders p-20 bg-white rad-10 p-relative">
            <h2 class="mt-0 mb-25">Reminders</h2>
            <ul class="m-0">
              <li class="d-flex align-center mt-15">
                <span class="key bg-blue mr-15 d-block rad-half"></span>
                <div class="pl-15 blue">
                  <p class="fs-14 fw-bold mt-0 mb-5">Check My Tasks List</p>
                  <span class="fs-13 c-grey">28/12/2024 - 12:00am</span>
                </div>
              </li>
              <li class="d-flex align-center mt-15">
                <span class="key bg-green mr-15 d-block rad-half"></span>
                <div class="pl-15 green">
                  <p class="fs-14 fw-bold mt-0 mb-5">Check My Plans</p>
                  <span class="fs-13 c-grey">26/12/2024 - 12:00am</span>
                </div>
              </li>
              <li class="d-flex align-center mt-15">
                <span class="key bg-orange mr-15 d-block rad-half"></span>
                <div class="pl-15 orange">
                  <p class="fs-14 fw-bold mt-0 mb-5">Call All My Team Members</p>
                  <span class="fs-13 c-grey">05/12/2024 - 12:00am</span>
                </div>
              </li>
              <li class="d-flex align-center mt-15">
                <span class="key bg-red mr-15 d-block rad-half"></span>
                <div class="pl-15 red">
                  <p class="fs-14 fw-bold mt-0 mb-5">Finish The Development Workshop</p>
                  <span class="fs-13 c-grey">20/12/2024 - 12:00am</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- End Reminders Widget -->
          <!-- Start Latest Post Widget -->
          <div class="latest-post p-20 bg-white rad-10 p-relative">
            <h2 class="mt-0 mb-25">Latest Post</h2>
            <div class="top d-flex align-center">
              <img class="avatar mr-15" src="imgs/avatar.png" alt="" />
              <div class="info">
                <span class="d-block mb-5 fw-bold">Sora Explora</span>
                <span class="c-grey">About 3 Hours Ago</span>
              </div>
            </div>
            <div class="post-content txt-c-mobile pt-20 pb-20 mt-20 mb-20">
CANCER CANCER CANCER CANCER CANCER CANCER UWU :3
            </div>
            <div class="post-stats between-flex c-grey">
              <div>
                <i class="fa-regular fa-heart"></i>
                <span>1.8K</span>
              </div>
              <div>
                <i class="fa-regular fa-comments"></i>
                <span>500</span>
              </div>
            </div>
          </div>
          <!-- End Latest Post Widget -->
      </div>
    </div>
  </body>
</html>