*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body
{
    display: flex;
    background: rgb(161, 161, 161);
}
.sidebar
{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 140px;
    align-items: center;
    height: 100vh;
    padding: 0 1.5rem;
    color: white;
    overflow: hidden;
    transition:0.5s;
    background: green;
}
.sidebar:hover
{
    width: 370px;
    transition: 0.5s;
}
.logo
{
    height: 100px ;
    padding: 16px;
}
.menu
{
    height: 100%;
    position: relative;
    list-style: none ;
    padding: 0;
}
.menu li
{
    padding: 1rem ;
    margin: 15px 0;
    border-radius: 80px;
    transition:0.5s;
}

.menu li:hover,
.active
{
    background: #e0e0e058 ;
}

.menu a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span 
{
    overflow: hidden;

}
.menu a i
{
    font-size: 1.2rem;
}














.main--content
{
    position: relative;
    background: rgba(255, 255, 255, 0.582);
    width: 100%;
    padding: 1rem;
}

.header--wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background:rgba(255, 255, 255, 0.686);
    border-radius:10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;

}
.header--title
{
    color: green;
}
.user--info
{
    display: flex ;
    align-items: center;
    gap: 1;
}
.searchbox
{
    background: rgba(252, 252, 252, 0.823);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255) ;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.searchbox input
{
    background: transparent;
    padding: 10px;


}
.searchbox i
{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;

}
.searchbox i:hover
{
    transform: scale(1.2);
}
.card-dontainer
{
    background: #fff;
    padding: 2rem;
    border-radius: 10px ;
}

.card-wrapper
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main--title
{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px ;
    font-size: 15px;

}

.payment--card
{
    background: rgb(166, 236, 134);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:0.5s;
}
.payment--card:hover
{
    transform: translateY(-5px);
}

.card--header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount
{
    display: flex;
    flex-direction: column;
}

.title
{
    font-size: 14px;
    font-weight: 200;
}
.amount-value
{
    font-size: 24px ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.icon
{
    color: white;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: rgb(20, 20, 20) ;
}

.card-detail
{
    font-size: 18px;
    color: grey;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}




.tabular--wrapper
{
    background: white;
    margin-top: 1rem ;
    border-radius: 10px;
    padding: 2rem;
}
.table-container
{
    width: 100%;

}
table
{
    width: 100%;
    border-collapse: collapse ;
}
thead
{
    background: rgb(166, 236, 134) ;
    color: white;
}
th
{
    padding: 15px;
    text-align: left;
}

tbody
{
    background: #f2f2f2;
}
td
{
    padding: 15px;
    font-size: 14px;
    color: #333;

}
tr:nth-child(even)
{
    background:white;
}

tfoot
{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: white;
}

tfoot td
{
    padding: 15px;
}
.table-container button
{
    color: green;
    background: none;
    cursor: pointer;
}