*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
.tabular--wrapper
{
    align-items: center;
    background: white;
    margin-top: 1rem ;
    border-radius: 10px;
    padding: 2rem;
}
.table-container
{
    width: 100%;

}
table
{
    width: 100%;
    border-collapse: collapse ;
}
thead
{
    background: rgb(166, 236, 134) ;
    color: white;
}
th
{
    padding: 15px;
    text-align: left;
}

tbody
{
    background: #f2f2f2;
}
td
{
    padding: 15px;
    font-size: 14px;
    color: #333;
}
tr:nth-child(even)
{
    background:white;
}



tfoot td
{
    padding: 15px;
}
.table-container button
{
    color: green;
    background: none;
    cursor: pointer;
}
.tabular--wrapper h1
{
    padding-left: 750px;
}
td a
{
    text-decoration: none;
    color: red;
}
td form input
{
    color: blue;
}
