body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('x.png');
    background-size:cover;
    background-position: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* About Section */

section h2 {
    color: #3498db;
}

.description {
    line-height: 1.6;
    color: black; /* Updated text color to black */
}

/* Videos Section */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black; /* Updated text color to black */
}

th {
    background-color: #3498db;
    color: #fff;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Comment Section */

.comment-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: vertical;
    color: black; /* Updated text color to black */
}

.comment-form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.all-comments {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.comment {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #dedcdc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.comment-date {
    font-size: 0.8em;
    color: #666;
}

.comment:hover {
    background-color: #f0f0f0;
}

.update-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

/* Media Queries for Responsive Design */

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}