<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
    <link rel="stylesheet" href="admin_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="sidebar">
    <div class="logo">
    <ul class="menu">
        <li class="active">
            <a href="#">
                <i class="fas fa-tachometer-alt "></i>
            <span>Dashboard</span>
        </a>
        </li>
        <li>
            <a href="affiche.php">
            <i class="fas fa-user"></i>
             <span>slm1</span>
            
        </a>
        </li>
        <li>
            <a href="affichefact.php">
                <i class="fas fa-chart-bar"></i>
            <span>slm2</span>
        </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-question-circle"></i>
            <span>slm3</span>
        </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-star"></i>
            <span>slm4</span>
        </a>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-cog"></i>
            <span>slm5</span>
        </a>
        </li>
        <li class="logout">
            <a href="#">
            <i class="fas fa-sign-out-alt"></i>
            <span>slm5</span>
        </a>
        </li>
    

    </ul>
    </div>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <span>primary</span>
                <h2>Dashboard</h2>
            </div>
            <div class="user--info">
                <div class="searchbox">
                <i class="fa-solid fa-search"></i>
                <input type="text" placeholder="search">
                </div>
            </div>
        </div>
    
    <div class="card-dontainer">
        <h3 class="main--title"> Today's transactions</h3>
        <div class="card-wrapper">
            <div class="payment--card">
                <div class="card--header">
                    <div class="amount">
                        <span class="title">ammount payed</span>
                        <span class="amount-value">$500.00</span>
                    </div>
                    <i class="fas fa-dollar-sign icon"></i>
                </div>
                <span class="card-detail">**** **** **** 1234</span>
            </div>
        </div>
    </div>
    <div class="tabular--wrapper">
        <h3 class="main--title">facture</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                    <th>date</th>
                    <th>transaction type</th>
                    <th>description</th>
                    <th>amount</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2023-05-01</td>
                        <td>expenses</td>
                        <td>online session</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>2023-02-01</td>
                        <td>expenses</td>
                        <td>online therapy</td>
                        <td>650</td>
                    </tr>
                    <tr>
                        <td>2023-01-01</td>
                        <td>expenses</td>
                        <td>therapy</td>
                        <td>500</td>
                    </tr>
                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>  
</body>
</html>