

body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    background: url('x.png');
}





.contrainer{

    width: 500px;
    background: rgb(255, 255, 255);
    box-shadow: 0 12px 28px rgba(0,0,0,0, 12);
    border-radius: 10px;

}

.post header {
font-size: 25px;
font-weight: 600;
text-align: center ;
padding: 17px 0;
border-bottom: 1px solid #bfbfbf;

}
.post form .contenet{
    display: flex;
    align-items: center;
    
    }
    

    .post form .contenet img{
        max-width: 50px;
        
        }

.post form .contenet .details{

    margin: -3px 0 0 12px;
}

.post form :where( .textarea, .button){

    width: 100%;
    outline: none;
    border: none;
    height: 50px;
    }

.post form  .textarea{

    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px ;
    }

 .theme.enj{

display: flex;
align-items: center;
justify-content: space-between;

}

.post form :where( .theme,.option) {

display: flex;
justify-content: space-between;
}

form .option{
   height:57px;
border: 1px solid #b9b9b9;
padding: 0 15px;
margin: 15px 0;

}

form .option{
color: rgb(112, 113, 113);
font-size: 15px;
font-weight: 500px;
}
form .option :where(.list,li ){

    display: flex;
    align-items: center;
    justify-content: center;
}

form .option .list li{

list-style: none;
height: 42px;
width: 42px;
border-radius: 50%;
background: #f0f1f4;
margin: 5px;

}





.option .list li img {
cursor: pointer;
width: 23px;

}



