@font-face {
    font-family: slm;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: slms;
    src: url(ChiaroscuraTRIAL-Rg.otf);
}




*{
    box-sizing: border-box;
    font-family:slm, sans-serif;
}

div
{
    background:#18b81e;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width:25rem;
    height: 20rem;

}

button
{
    background: rgb(5, 85, 5);
    color: cornsilk;
    font-size: large;
    width: 8rem;
    height: 3rem;
}
button:hover
{
    background: cornsilk;
    color:  rgb(5, 85, 5);
}