@font-face {
    font-family: ok ;
    src: url(Poppins-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    font-family: ok;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(to bottom, rgba(56, 53, 53, 0.4), rgba(56, 53, 53, 0.4)),url(cancer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #525252;
}
nav{
    /*background: #043b28 ;*/
    background:transparent;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
        z-index: 1000;
    }
    img.user{
    width: 60px;
    border-radius:50%;
    cursor: pointer;
    margin-right:-100px;
    margin-top: 10px;
}
.logou{
    width: 40rem;
    margin: 10px 0 0 -160px;
    z-index: 1000;
}
.logo{
    width: 350px;
    margin: 10px 0 0 -160px;
    z-index: 1000;
}
nav ul{
    width: 100%;
    text-align: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-top: 10px;
    margin-left: 5rem;
    position: relative;
    font-size: 1.3em;
    color: white;
    text-decoration:none ;
    font-weight: 500;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
nav ul li a:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    left: 81%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h2{
    font-weight:500;
}
.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
   
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link p:hover{
    font-weight: 600;
}

.btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 14px 40px;
    margin-right: -10rem;
    min-width: 13rem;
    width:auto;
    color: white;
    background: hsl(17.24deg 47.48% 64.3%);
    font-size: 1.3rem;
    z-index: 1000;
}