
@font-face {
  font-family: slm;
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family: slms;
  src: url(ChiaroscuraTRIAL-Rg.otf);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:slm, sans-serif;
}

body
{
    /*display: flex;
    min-height: 100vh;
    background: url('background.jpg');
    background-size:cover;
    background-position: center;
    position: relative;*/
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('x.png');
    background-size:cover;
    background-position: center;


}


header
{
    background-color: gray;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;

}




.navigation a
{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration:none ;
    font-weight: 500;
    margin-left: 30px;
}
.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .payment
{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius:6px ;
    cursor: pointer; 
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.5s;


}
.navigation .payment:hover
{
    background: white;
    color: #162938;
}

input
{
    position: relative;
    scale: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
.board
{
    width: 50%;
    margin-top: 5rem;
    margin-left: 25rem;

    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(20px);
    border: 2px solid gray;
    font-size: 200%;
    align-items: center;
    
}

.board .container .row
{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content:center;
}



.row a 
{
  position: relative;
  font-family:slm, sans-serif;
  color: red ;

}

.check 
{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0645AD;
  border: 2px solid  #0645AD;
  border-radius: 10em;
  text-decoration:none;
}
.check:hover
{
  color: #3366CC;
  border: 2px solid  #3366CC;
  border-radius: 10em;
}

.row
{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top:0.5rem;
}


.icon {
  width: 25rem;
}

.arrow {
  position: relative;
  height: 10px;
  background-color: #f00;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
  z-index: 2;
  
  font-family:slm, bold;
  font-size: 0.5rem;
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 2.7rem;
  height: 10px;
  right: -8px;
  background-color: #f00;
  z-index: 1;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}


.arya
{
  top :0.8rem;
   margin-left : 5rem;
}

.xd
{
   display: block;
   width:100rem;
   height:5rem;
   align-items:center;
   justify-content: flex-start;
  
   margin-left:5rem;
}

.btnp
{
  display: block;
  width:100rem;
  height:5rem;
  align-items:center;
  justify-content: center;
  margin-top: 1rem;
}


.fb
{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  
}


.fb input
{
  padding: 0.2rem;
  
}

.fbtn
{
  color: #0645AD;
  border: 2px solid  #0645AD;
  border-radius: 10em;
  text-decoration: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 5rem;
    padding-top: 0rem;
    margin-top: 0; 
    margin-bottom: 0px;
    cursor: pointer;
    top: 1.5rem;
    font-size: 22px;
    
    user-select: none;
  }
  

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid black;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgba(18, 220, 52, 0.746);
    border: none;

    
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    
    transform: rotate(45deg);
  }

  .modal {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    background-size: cover;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    font-family:slm, sans-serif;
    font-size: x-large;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

