<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>TEST</title>
</head>
<body>
    <div class="banner"></div>    
    <div class="navbar">
        <img src="mentalharbour.png" class="logo">
        <button class="home">Home</button>
        <button class="about">About</button>
        <button class="services">Services</button>
        <button class="contact">Contact</button>
        <button class="login">Login</button>
    </div>
    <div class="annonce">
        <h1>Even if it takes some trial and error to find the right connection</h1>
        <p>seeing a therapist is an impactful way to prioritize your mental health.</p>
        <div> 
            <button onclick="location.href='#services'">Connect with us</button>
        </div>
    </div>

        <div class="headline">
            <h1>Connecting with us</h1>
        </div>
        <div id="services"> 
            <div class="image-container">
                <img src="steps.png" alt="step">
            </div>

        </div>
        <div class="container">
            <a class="btn">
              <svg width="277" height="62">
                <defs>
                  <linearGradient id="grad1">
                    <stop offset="0%" stop-color="#6C6061"/>
                    <stop offset="100%" stop-color="#64403E" />
                  </linearGradient>
                </defs>
                <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
              </svg>
              <span>Take the test</span>
            </a>
          </div>

       

            
              
</body>         
</html>
                 

